ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .socials {
    gap: 20px;
  }
  
  .socials a {
    font-size: 24px;
  }
  
  .links {
    gap: 10px;
  }
  
  .legal {
    font-size: 12px;
    margin: 0;
  }
  
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(2.25) scaleX(2.25);
    transform-origin: bottom;
    box-sizing: border-box;
    display: block;
    pointer-events: none;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 370px; /* Altura suficiente para que la animación se muestre completamente */
    z-index: 0; /* Asegurarse de que el footer esté detrás del contenido */
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 80px;
    padding-left: 60px;
    width: 100%;
    position: relative; /* Agregar posición relativa para que la animación sea relativa a esta sección */
    z-index: 1; /* Asegurarse de que el contenido esté delante de la animación */
  }
  
  /* Media query para dispositivos con un ancho mayor a 420px */
  @media (min-width: 420px) {
    section {
      align-items: center; /* Centrar elementos en el eje vertical */
      padding-left: 0;
      gap: 20px;
    }
  
    .links {
      gap: 20px;
    }
  }
  