.navbar-nav .nav-link {
  position: relative;
  color: #fff;
  transition: color 0.3s, border-bottom-color 0.6s;
  border-radius: 3px;
}

.navbar-nav .nav-link:hover {
  color: #fff;
  border-bottom: 5px solid #4361ee;
  
}

.bg-black {
  background-color: #000;
}